.btn-order-red {
  color: white;
  padding: 16px 24px;
  background-color: crimson;
  border-radius: 4px;
  transition: background-color 1s;
}

.btn-order-red:hover {
  background-color: rgb(153, 16, 44);
}
